<div class="container app-view">
    <div class="row">
        <div class="col-xs-12">
            <h2 style="margin-top: 0" class="text-center"><i class="fa fa-2x fa-exclamation-circle text-warning"></i></h2>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-6">
                    <div class="panel panel-default card-shadow">
                        <div class="panel-body">
                            <h2 style="margin-top: 0">Documentation not found!</h2>
                            It seems that the file you are looking for is not available anymore or is in another path.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
