<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 side-menu">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" class="form-control" ng-model="sectionsFilter" />
                    <ul>
                        <li ng-repeat="section in sections | filter:{Name: sectionsFilter}">
                            <a ng-href="/App/documentation/{{version}}/{{section.File}}">
                                {{section.Name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9" ng-show="type">
            <div class="row" style="margin-top: 25px;">
                <div class="col-xs-12">
                    <div class="col-xs-12" ng-if="!type.Enumerates[0]">
                        <h2 class="doc-title">{{type.Name}} <small class="text-muted">(Class)</small></h2>

                        <ul>
                            <li ng-repeat="typeParam in type.TypeParams">
                                <i class="text-muted">{{typeParam.Name}}</i>:
                                {{typeParam.Summary}}
                            </li>
                        </ul>

                        <p>
                            {{type.Summary}}
                        </p>

                        <h3>Inheritance Hierarchy</h3>

                        <ul>
                            <li ng-repeat="p in type.Inheritance">
                                {{p.Type.Name}}
                            </li>
                            <li>{{type.FullName}}</li>
                        </ul>

                        <h3>Constructors</h3>

                        <p>
                            <i class="text-muted" ng-show="!type.Constructors[0]">none</i>
                        </p>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="ctor in type.Constructors">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">
                                            Ctor
                                            (
                                            <i class="text-muted" ng-repeat="p in ctor.Parameters">
                                                {{p.Name}}
                                                <span ng-show="$index != p.Parameters.length-1">, </span>
                                            </i>
                                            )
                                        </h4>
                                        <p>{{ctor.Summary}}</p>
                                        <h5>Parameters:</h5>
                                        <ul>
                                            <li ng-repeat="param in ctor.Parameters">
                                                {{param.Name}}: <i class="text-muted">{{param.Summary}}</i>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>Properties</h3>

                        <p>
                            <i class="text-muted" ng-show="!type.Properties[0]">none</i>
                        </p>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="p in type.Properties">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">{{p.Name}}</h4>
                                        <p>{{p.Summary}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h3>Methods</h3>

                        <p>
                            <i class="text-muted" ng-show="!type.Methods[0]">none</i>
                        </p>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="m in type.Methods">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">{{m.Name}}
                                            (
                                            <i class="text-muted" ng-repeat="p in m.Parameters">{{p.Name}}
                                                <span ng-show="$index != m.Parameters.length-1">, </span>
                                            </i>
                                            )
                                        </h4>
                                        <p>{{m.Summary}}</p>
                                        <h5>Parameters:</h5>
                                        <i class="text-muted" ng-show="!m.Parameters[0]">none</i>
                                        <ul>
                                            <li ng-repeat="param in m.Parameters">
                                                {{param.Name}}: <i class="text-muted">{{param.Summary}}</i>
                                            </li>
                                        </ul>
                                        <p>
                                            Returns: {{m.Returns.Summary}}, type: {{m.Returns.Type.FullName}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12" ng-if="type.Enumerates[0]">
                        <h2 class="doc-title">{{type.Name}} <small class="text-muted">(Enum)</small></h2>

                        <p>
                            {{type.Summary}}
                        </p>

                        <ul>
                            <li>{{type.FullName}}</li>
                        </ul>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="e in type.Enumerates">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">{{e.Name}}</h4>
                                        <p>
                                            {{e.Summary}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>