<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 side-menu">
            <div class="row">
                <div class="col-xs-12">
                    <input type="text" class="form-control" ng-model="sectionsFilter"/>
                    <ul>
                        <li ng-repeat="section in sections | filter:{name: sectionsFilter}">
                            <a ng-href="/App/documentation/{{version}}/{{section.file}}">
                                {{section.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-3 col-sm-9" ng-show="type">
            <div class="row" style="margin-top: 25px;">
                <div class="col-xs-12">
                    <div class="col-xs-12" ng-if="!type.enumerates[0]">
                        <h2 class="doc-title">
                            {{type.name}} <small class="text-muted">Class</small>
                        </h2>

                        <ul>
                            <li ng-repeat="typeParam in type.typeParams">
                                <i class="text-primary">{{typeParam.name}}</i>:
                                {{typeParam.summary}}
                            </li>
                        </ul>

                        <hr/>

                        <p><b>Inheritance Hierarchy</b>
                        </p>

                        <ul>
                            <li ng-repeat="p in type.inheritance">
                                <a ng-href="{{p.typeInfo.href}}">
                                    {{p.typeInfo.name}}
                                </a>
                            </li>
                            <li>{{type.fullName}}</li>
                        </ul>

                        <p>
                            {{type.summary}}
                        </p>

                        <p>
                            <a href="javascript:;" style="line-height: 22px;"
                               ng-click="openModal(type.typeInfo.raw)">
                                <i class="fa fa-fw fa-lg fa-file-code-o"></i> Source Code
                            </a>
                        </p>

                        <hr/>

                        <h3 class="section-title">Constructors</h3>

                        <p>
                            <i class="text-muted" ng-show="!type.constructors[0]">none</i>
                        </p>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="ctor in type.constructors">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">
                                            Ctor
                                            (
                                            <i class="text-muted" ng-repeat="p in ctor.parameters">
                                                {{p.name}}
                                                <span ng-show="$index != p.parameters.length-1">, </span>
                                            </i>
                                            )
                                        </h4>
                                        <p>{{ctor.summary}}</p>
                                        <h5>Parameters:</h5>
                                        <ul>
                                            <li ng-repeat="param in ctor.parameters">
                                                {{param.name}}: <i class="text-muted">{{param.summary}}</i>
                                            </li>
                                        </ul>
                                        <p class="text-muted doc-end" ng-show="!ctor.parameters[0]">none</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <h3 class="section-title">Properties</h3>

                        <p>
                            <i class="text-muted" ng-show="!type.properties[0]">none</i>
                        </p>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="p in type.properties">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">{{p.name}}</h4>
                                        <p>
                                            <i class="text-muted">Type:</i>
                                            <a ng-href="{{p.typeInfo.href}}">
                                                {{p.typeInfo.alias}}
                                            </a>
                                        </p>
                                        <p class="doc-end">{{p.summary}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <h3 class="section-title">Methods</h3>

                        <p>
                            <i class="text-muted" ng-show="!type.Methods[0]">none</i>
                        </p>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="m in type.Methods">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">{{m.name}}
                                            (
                                            <i class="text-muted" ng-repeat="p in m.parameters">{{p.name}}
                                                <span ng-show="$index != m.parameters.length-1">, </span>
                                            </i>
                                            )
                                        </h4>
                                        <p>{{m.summary}}</p>
                                        <h5>Parameters:</h5>
                                        <i class="text-muted" ng-show="!m.parameters[0]">none</i>
                                        <ul>
                                            <li ng-repeat="param in m.parameters">
                                                {{param.name}}: <i class="text-muted">{{param.summary}}</i>
                                            </li>
                                        </ul>
                                        <p>
                                            Returns: {{m.returns.summary}}, type: {{m.returns.type.fullName}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-12" ng-if="type.enumerates[0]">
                        <h2 class="doc-title">{{type.name}} <small class="text-muted">Enum</small>
                        </h2>

                        <p>
                            {{type.summary}}
                        </p>

                        <ul>
                            <li>{{type.fullName}}</li>
                        </ul>

                        <div class="row">
                            <div class="col-xs-12" ng-repeat="e in type.enumerates">
                                <div class="panel card-shadow">
                                    <div class="panel-body">
                                        <h4 class="card-title">{{e.name}}</h4>
                                        <p>
                                            {{e.summary}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="docs-modal" class="angular-modal" ng-class="{hidden: !isModalOpen}" tabindex="1000" ng-keydown="closeModalWKB($event)">
    <div class="container-fluid">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="panel card-shadow">
                <div class="panel-body">
                    <h3 class="doc-title">
                        {{type.fullName}}
                        <small style="cursor: pointer" class="fa fa-times-circle pull-right" ng-click="closeModal()"></small>
                    </h3>
                    <p>
                        <a ng-href="{{type.typeInfo.source}}">Open in GitHub</a>
                    </p>
                    <hr/>
                    <pre class="prettyprint" code="currentRaw"></pre>
                </div>
            </div>
        </div>
    </div>
</div>