<div class="row">
    <div class="col-md-3">
        <div class="row">
            <div class="col-sm-12">
                <div class="list-group card-shadow">
                    <a href="#" class="list-group-item"
                       ng-repeat="section in sections"
                       ng-href="#/examples/{{version}}/{{section.route}}#title"
                       ng-class="{active: section.route==current.route}">
                        <span style="margin-left: 5px;">{{section.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div id="article-view" class="col-xs-12" ng-bind-html="article"></div>
        </div>
    </div>
</div>