<div class="container-fluid" style="min-height: 750px;">
    <div class="row">
        <div class="col-md-3 col-xs-12 side-menu width-changing" ng-class="{'minimized': menu.isSmall}">
            <div class="menu-options">
                <div class="input-group" style="width: 100%;">
                    <i class="input-group-addon fa fa-fw fa-bars fa-lg menu-item"
                       ng-click="toNormalMenu()"
                       ng-show="menu.isSmall"></i>
                    <i class="input-group-addon fa fa-fw fa-th fa-lg menu-item"
                       ng-click="openModal()"></i>
                    <i class="input-group-addon fa fa-fw fa-arrow-left fa-lg menu-item"
                       ng-click="toSmallMenu()"
                       ng-show="!menu.isSmall"></i>
                    <input type="text" class="form-control" ng-model="sectionsFilter" placeholder="Search"/>
                </div>
            </div>
            <i class="input-group-addon fa fa-fw fa-th fa-lg menu-item"
               ng-click="openModal()" ng-show="menu.isSmall"></i>
            <ul ng-show="!menu.isSmall">
                <li ng-repeat="section in sections | filter: sectionsFilter">
                    <a ng-href="/App/examples/{{version}}/{{platform}}/{{section.name}}">
                        {{section.name}}
                    </a>
                </li>
            </ul>
        </div>

        <hr class="visible-xs visible-sm"/>

        <div class="col-md-offset-3 col-md-9 menu-view" ng-class="{'maximized': menu.isSmall}">
            <div class="row">
                <div class="col-xs-12 text-primary text-center" ng-show="isLoading" style="margin: 25px">
                    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
                </div>

                <div id="article-view" dynamic="article">

                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid bg-primary" style="padding: 60px 0;">
    <div class="row">
        <div class="col-xs-12 text-center">
            Found a typo error? want to improve docs?
            Fork the repo,
            <a style="color: white" href="https://github.com/beto-rodriguez/LiveChartsWeb/tree/master/LiveChartsWeb/App/Examples/v1"><b>edit the html files</b></a>,
            and do a pull request
        </div>
    </div>
</div>

<div id="docs-modal" class="angular-modal" ng-class="{hidden: !isModalOpen}" tabindex="1000" ng-keydown="closeModalWKB($event)">
    <div class="container-fluid">
        <div class="col-sm-10 col-sm-offset-1 col-xs-12">
            <div class="row">
                <div ng-repeat="section in sections | filter: criteria" class="col-md-4 col-sm-6">
                    <a class="section" ng-href="/App/examples/{{version}}/{{platform}}/{{section.name}}"
                       ng-click="hideMenu()"
                       ng-class="{ 'selected': currentSection === section.name }">
                        <div class="panel panel-default only-bot-border card-shadow">
                            <div class="row">
                                <div class="col-xs-12 text-center menu-element menu-element-big">
                                    <span class="helper"></span>
                                    <img style="vertical-align: middle;"
                                         ng-src="{{getImageUrl(section)}}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-center">
                                    <span>{{section.name}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>