<div class="home-banner" style="margin-bottom: 15px;">
    <div class="container">
        <div class="row">
            <div class="col-xs-12" style="padding-top: 70px; padding-bottom: 70px;">
                <div class="row">
                    <div class="col-xs-12">
                        <h4 class="text-center" style="margin: 0">
                            Modern, animated, responsive, easy to customize, easy to use, MVVM orientated, free, .Net charts,
                            LiveCharts listens for any change in your data and updates the UI automatically,
                            for now only available for WPF and WinForms
                        </h4>
                    </div>
                </div>
                <div class="text-center">
                    <img style="margin-top: 30px; opacity: .2;" src="/Content/Images/Logos/lcwhite.png" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="text-center" style="margin: 25px;">
                <a class="btn btn-lg btn-primary card-shadow home-main-btn" href="#/documentation/introduction">
                    Docs
                </a>
                <a class="btn btn-lg btn-primary card-shadow home-main-btn" href="#/examples/intro?path=intro">
                    Examples
                </a>
                <a class="btn btn-lg btn-primary card-shadow home-main-btn" href="https://github.com/beto-rodriguez/Live-Charts">
                    Github Repo
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-sm-6">
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/linemove.gif"/>
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/barsmove.gif"/>
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/linedynamic.gif"/>
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/bars.gif"/>
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/pie.gif"/>
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/stackeddance.gif"/>
        </div>
    </div>
</div>