<div class="home-banner">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="text-center" style="margin: 10px 0;">
                            Modern, animated, responsive, easy to customize, easy to use, MVVM orientated, free, .Net charts,
                            LiveCharts listens for any change in your data and updates the UI automatically,
                            for now only available for WPF and WinForms
                        </h3>
                    </div>
                </div>
                <div class="text-center" style="margin: 25px;">
                    <img src="/Content/Images/Logos/lcwhite.png" />
                    <div style="margin-top: 15px">
                        <a class="btn btn-default card-shadow home-main-btn" href="#/documentation/introduction">
                            <i class="fa fa-book"></i> Docs
                        </a>
                        <a class="btn btn-default card-shadow home-main-btn" href="#/examples/intro?path=intro">
                            <i class="fa fa-bolt"></i> Examples
                        </a>
                        <a class="btn btn-default card-shadow home-main-btn" href="https://github.com/beto-rodriguez/Live-Charts">
                            <i class="fa fa-github"></i> Github Repo
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="home-banner" style="display: block; margin-bottom: 10px;">
    
</div>

<div class="container">
    <div class="row text-center">
        <div class="col-md-4 col-sm-6">
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/linemove.gif"/>
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/barsmove.gif"/>
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/linedynamic.gif"/>
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/bars.gif"/>
        </div>
        <div class="col-md-4 col-sm-6">
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/pie.gif"/>
            <img class="home-chart card-shadow" alt="" src="../../Content/Images/Samples/stackeddance.gif"/>
        </div>
    </div>
</div>