<!DOCTYPE html>
<html lang="en" ng-app="liveChartsApp">

<head>
    <title>Live Charts</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'/>
    @Styles.Render("~/Content/css")
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body class="container" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="templateController">
        <div id="menu" class="container" ng-class="{ 'is-closed': !isVisible }">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/Home" style="padding-top: 8px">
                    <img alt="Controli" src="~/Content/Images/Logos/lclogo30.png"/>
                </a>
                <button type="button" class="navbar-toggle collapsed" ng-click="toggleMenu()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div>
                <ul class="nav navbar-nav" ng-click="hideMenu()">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/documentation/introduction">Documentation</a></li>
                    <li><a href="#/examples/intro?path=intro">Examples</a></li>
                    <li>
                        <a>
                            <iframe src="https://ghbtns.com/github-btn.html?user=beto-rodriguez&repo=Live-Charts&type=star&count=true"
                                    frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=beto-rodriguez&repo=Live-Charts&type=watch&count=true&v=2"
                                    frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
                            <iframe src="https://ghbtns.com/github-btn.html?user=beto-rodriguez&repo=Live-Charts&type=fork&count=true"
                                    frameborder="0" scrolling="0" width="95px" height="20px"></iframe>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view class="view">

    </div>

@Scripts.Render("~/bundles/app")

<script>
    ((window.gitter = {}).chat = {}).options = {
        room: 'beto-rodriguez/Live-Charts'
    };
</script>
<script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>

</body>
</html>