<!DOCTYPE html>
<html lang="en" ng-app="liveChartsApp">

<head>
    <title>Live Charts</title>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'/>
    <link rel="stylesheet" href="../../Content/bootstrap.css"/>
    <link href="~/Content/paper-theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../Content/site.css"/>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />

    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>

</head>

<body class="container" ng-cloak>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" >
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#/Home" style="padding-top: 8px">
                    <img alt="Controli" src="~/livechartslogo.png" />
                </a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar text-primary"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#/home">Home</a></li>
                    <li><a href="#/documentation/welcome">Documentation</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div ng-view class="view">

    </div>

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/respond.js"></script>
<script src="../../Scripts/angular.js"></script>
<script src="~/Scripts/angular-route.js"></script>
<script src="~/Scripts/angular-sanitize.js"></script>
<script src="../../Scripts/angular-animate.js"></script>
<script src="../../Scripts/angular-aria.js"></script>

<script src="~/App/app.js"></script>
<script src="~/App/Services/docsService.js"></script>
<script src="~/App/Controllers/home.js"></script>
<script src="~/App/Controllers/docs.js"></script>

</body>
</html>