body {
    padding-top: 50px;
    padding-bottom: 100px;
    overflow-y: scroll;
    background-color: rgb(248, 248, 248);
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

::-webkit-scrollbar-thumb {
  background: rgb(2, 114, 170);
}

::-webkit-scrollbar-track {
  background: #cbeeff;
}

.form-control {
    box-shadow: none;
    border-width: medium medium 1px;
    border-style: none none solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    background: transparent;
}

.form-control:focus {
    border-color: #66afe9;
    border-width: medium medium 3px;
    -webkit-box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
    -ms-box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
}

.input-group-addon {
    border-width: medium medium 1px;
    border-style: none none solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.home-banner {
    background: rgb(96, 125, 138);
    color: white;
}

.home-chart {
    margin: 10px auto;
    width: 100%;
}

.home-chart-wrapper {
    min-height: 200px;
}

.home-main-btn {
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
}

.gitter-chat-embed {
    z-index: 1050 !important;
    border: none;
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

.gitter-open-chat-button {
    font-weight: bold;
    background: #2196F3;
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

.gitter-open-chat-button:hover {
    background: #1E88E5;
}

.navbar {
    -webkit-box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.doc-title{
    margin-top: 0;
    color: rgb(13, 71, 160)
}

.section-title {
    margin: 25px 0;
}

.doc-end {
    margin-bottom: 0;
}

.angular-modal {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10001;
    background-color: #373737;
    background-color: rgba(55,55,55,.85);
    overflow-y: auto;
}

    .angular-modal .container-fluid {
        margin-top: 80px;
    }


.card-title {
    margin-top: 0;
    color: rgb(13, 71, 159);
}

.doc-properties-wrapper {
    margin-top: 10px;
}

.doc-alert {
    padding: 20px;
    margin: 20px -16px;
    background-color: #2196f3;
    color: white;
}

ul {
    list-style-type: none; 
    padding: 0 15px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.side-menu {
    background-color: rgb(3, 153, 227);
    color: white;
    overflow-y: auto;
    font-size: 16px;
    margin-bottom: 25px;
    z-index: 1;
    height: 300px;
    padding: 0;
    position: fixed;
    height: 100%;
    margin-bottom: 0;
}

.side-menu input.form-control {
    color: white;
    font-size: 18px;
    border-color: rgb(153, 213, 243);
}

        .side-menu input.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color: rgb(153, 213, 243);
        }
        .side-menu input.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color: rgb(153, 213, 243);
            opacity: 1;
        }
        .side-menu input.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: rgb(153, 213, 243);
            opacity: 1;
        }
        .side-menu input.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: rgb(153, 213, 243);
        }

    .side-menu ul {
        list-style-type: none;
        padding: 20px 15px;
        margin-bottom: 50px;
    }

        .side-menu ul li {
            margin: 6px 0;
            cursor: pointer;
        }

        .side-menu ul li a {
            color: white;
        }

        .side-menu .input-group-addon {
            border-color: rgb(153, 213, 243);
        }

.menu-item {
    background-color: transparent;
    border-color: rgb(153, 213, 243);
    color: white;
    -ms-opacity: 0.6;
    opacity: 0.6;
    font-size: 22px;
    cursor: pointer;
    width: 43px;

}

.menu-options {
    margin-top: 20px;
}

.menu-options.menu-search {
    width: 100%;
}

.side-menu.minimized {
    width: 43px;
    overflow: hidden;
}

.menu-view.maximized {
    margin-left: 0;
    padding-left: 50px;
    width: 100%;
}

.menu-item {
    -ms-opacity: .6;
    opacity: .6;
    margin: 0;
    width: 50px;
}

a.active i.text-muted {
    color: white;
}

.label-primary a {
    color: white;
}

.label {
    font-size: 12px;
}

.card-shadow {
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.card-shadow.ng-enter, .card-shadow.ng-move {
    -webkit-transition:0.5s linear all;
    -moz-transition:0.5s linear all;
    -o-transition:0.5s linear all;
    -ms-transition:0.5s linear all;
    transition:0.5s linear all;
    -ms-opacity:0;
    opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.card-shadow.ng-enter.ng-enter-active,
.card-shadow.ng-move.ng-move-active {
    -ms-opacity:1;
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.card-shadow.ng-leave {
    -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
    -ms-animation:0.5s my_animation;
    animation:0.5s my_animation;
}

.section {
    color: #252525;
    text-decoration: none !important;
}

.section .panel-default {
    padding: 10px 15px;
}

.section.selected .panel-default {
    color: rgb(33, 149, 242);
    font-weight: bold;
}

.section:hover .panel-default {
    text-decoration: none;
    -ms-opacity: .7;
    opacity: .7;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*Menu hidden just for xs devices*/
#menu.is-closed {
    max-height: 50px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
 }

#menu {
    /*50px + 50px per element*/
    max-height: 200px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
    overflow: hidden;
}

#article-view {
    min-height: 600px; 
    margin: 25px;
}

    #article-view img {
        max-width: 100%;
        margin: 10px auto 35px auto;
        -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
        -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
        -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
        -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
        box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
        box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    }

    #article-view h3 {
        margin-top: 0;
    }

    #article-view.ng-enter {
        -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
        -o-animation: fadein 1s; /* Opera < 12.1 */
        animation: fadein 1s;
    }

/*pre {
    margin-bottom: 0;
}*/


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.menu-level-1 {
    margin-left: 20px;
}
.menu-level-2 {
    margin-left: 40px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    cursor: pointer; 
    cursor: hand;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}

.together {
    margin-bottom: 0;
}

.width-changing {
    -webkit-transition: width 300ms linear;
    -moz-transition: width 300ms linear;
    -o-transition: width 300ms linear;
    -ms-transition: width 300ms linear;
    transition: width 300ms linear;
}

.borderless {
    border: none;
}

.only-bot-border {
    border-left: none;
    border-top: none;
    border-right: none;
}

.btn.selected {
    color: rgb(33, 149, 242) !important;
    font-weight: bold;
}
.btn:hover:not(.selected) {
    background: rgb(33, 149, 242) !important;
    color: white;
}


.menu-element {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 400ms linear;
    -moz-transition: height 400ms linear;
    -o-transition: width 400ms linear;
    -ms-transition: height 400ms linear;
    transition: height 400ms linear;
}

.menu-element-big {
    height: 140px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.prettyprint {
    font-family: "Source Code Pro", Menlo, Monaco, Consolas, "Courier New", monospace;
}