body {
    padding-bottom: 100px;
    background: white;
}

#banner {
    margin-bottom: 200px;
}

#banner-container {
    background-color: rgb(3, 154, 228);
    color: white;
}

#window {
    background: white;
    margin-top: -150px;
    margin-bottom: 100px;
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

.main-link {
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0 15px;
}

.main-link:hover {
    color: whitesmoke;
}

img {
    max-width: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.bigger-text {
    font-size: 1.3em;
}

.img-banner-wrapper {
    height: 395px;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
    margin-bottom: 5px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.presentation-wrapper {
    margin: 0 17px
}

.loading {
    background: url('../Content/Images/380.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}

.card-shadow {
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}