body {
    padding-top: 80px;
    padding-bottom: 100px;
    background: #eeeded;
}

.form-control {
    box-shadow: none;
    border-width: medium medium 1px;
    border-style: none none solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    background: transparent;
}

.form-control:focus {
    border-color: #66afe9;
    border-width: medium medium 3px;
    -webkit-box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
    -ms-box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
}

.input-group-addon {
    border-width: medium medium 1px;
    border-style: none none solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.navbar {
    -webkit-box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.doc-title{
    margin-top: 0;
    color: rgb(13, 71, 160)
}

.doc-properties-wrapper {
    margin-top: 10px;
}

a.active i.text-muted {
    color: white;
}

.label-primary a {
    color: white;
}

.docs-label {
    font-size: 12px;
}

.card-shadow {
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.card-shadow.ng-enter, .card-shadow.ng-move {
    -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
    -ms-transition:0.5s linear all;
    transition:0.5s linear all;
    -ms-opacity:0;
    opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.card-shadow.ng-enter.ng-enter-active,
.card-shadow.ng-move.ng-move-active {
    -ms-opacity:1;
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.card-shadow.ng-leave {
    -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
    -ms-animation:0.5s my_animation;
    animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*Menu hidden just for xs devices*/
#menu.is-closed {
    max-height: 50px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
 }

#menu {
    /*50px + 50px per element*/
    max-height: 150px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
    overflow: hidden;
}