body {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #eeeded;
}

.app-view {
    margin-top: 15px;
}

.form-control {
    box-shadow: none;
    border-width: medium medium 1px;
    border-style: none none solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    background: transparent;
}

.form-control:focus {
    border-color: #66afe9;
    border-width: medium medium 3px;
    -webkit-box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
    -ms-box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: inset 0 0 0 transparent, 0 0 0 transparent;
}

.input-group-addon {
    border-width: medium medium 1px;
    border-style: none none solid;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

.home-banner {
    background: rgb(96, 125, 138);
    color: white;
}

.home-chart {
    margin: 10px auto;
    width: 100%;
}

.home-chart-wrapper {
    min-height: 200px;
}

.home-main-btn {
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
}

.gitter-chat-embed {
    z-index: 1050 !important;
    border: none;
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

.gitter-open-chat-button {
    font-weight: bold;
    background: #2196F3;
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

.gitter-open-chat-button:hover {
    background: #1E88E5;
}

.navbar {
    -webkit-box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    -ms-box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    -ms-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    box-shadow: 0 1px 3px #000000, 0 1px 2px #000000;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.doc-title{
    margin-top: 0;
    color: rgb(13, 71, 160)
}

.doc-properties-wrapper {
    margin-top: 10px;
}

a.active i.text-muted {
    color: white;
}

.label-primary a {
    color: white;
}

.label {
    font-size: 12px;
}

.card-shadow {
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}

/*
  We're using CSS transitions for when
  the enter and move events are triggered
  for the element that has the .repeated-item
  class
*/
.card-shadow.ng-enter, .card-shadow.ng-move {
    -webkit-transition:0.5s linear all;
  -moz-transition:0.5s linear all;
  -o-transition:0.5s linear all;
    -ms-transition:0.5s linear all;
    transition:0.5s linear all;
    -ms-opacity:0;
    opacity:0;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/
.card-shadow.ng-enter.ng-enter-active,
.card-shadow.ng-move.ng-move-active {
    -ms-opacity:1;
    opacity:1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.card-shadow.ng-leave {
    -webkit-animation:0.5s my_animation;
  -moz-animation:0.5s my_animation;
  -o-animation:0.5s my_animation;
    -ms-animation:0.5s my_animation;
    animation:0.5s my_animation;
}

@keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-moz-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

@-o-keyframes my_animation {
  from { opacity:1; }
  to { opacity:0; }
}

/*Menu hidden just for xs devices*/
#menu.is-closed {
    max-height: 50px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
 }

#menu {
    /*50px + 50px per element*/
    max-height: 200px;
    -webkit-transition: max-height .3s ease-out;
    -moz-transition: max-height .3s ease-out;
    -ms-transition: max-height .3s ease-out;
    -o-transition: max-height .3s ease-out;
    transition: max-height .3s ease-out;
    overflow: hidden;
}

#article-view img {
    max-width: 100%;
    margin: 10px auto 25px auto;
    -webkit-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -webkit-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    -ms-box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    -ms-box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
    box-shadow: 0 10px 20px #8d8d8d, 0 6px 6px #666666;
    box-shadow: 0 10px 20px rgba(141, 141, 141, 0.19), 0 6px 6px rgba(102, 102, 102, 0.23);
}
#article-view h3 {
    margin-top: 0;
}

/*pre {
    margin-bottom: 0;
}*/


.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.menu-level-1 {
    margin-left: 10px;
}
.menu-level-2 {
    margin-left: 20px;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
    cursor: pointer; 
    cursor: hand;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .list-group > .list-group > .list-group-item {
    padding-left: 45px;
}

.list-group-item .glyphicon {
    margin-right: 5px;
}